.header {
  background-color: #4b0082;
  color: white;
  padding: 20px;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 30px;
}

.navbar li a {
  font-family: 'Geologica', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.navbar li a:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}
