.header {
  background-color: #4b0082;
  color: white;
  padding: 20px;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 20px;
}

.navbar li {
  font-family: 'Bruno Ace SC', sans-serif;
}

.intro {
  display: flex;
  align-items: center;
}

.image-placeholder {
  width: 200px;
  height: 200px;
  background-color: #e0e0e0;
}

.text h1 {
  font-family: 'Bruno Ace SC', sans-serif;
}

.text p {
  font-family: 'Geologica', sans-serif;
}

.technologies {
  background-color: #4b0082;
  color: white;
  padding: 50px;
}

.technologies h2 {
  font-family: 'Bruno Ace SC', sans-serif;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tech-card {
  background-color: white;
  border-radius: 8px;
}

.projects h2 {
  font-family: 'Bruno Ace SC', sans-serif;
}

.project-grid {
  display: flex;
}

.project-card {
  background-color: white;
}

.project-card.dark {
  background-color: #4b0082;
}

.footer {
  text-align:center 
}
